/* Overlay */
.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  padding: 1rem;
  overflow-y: auto;
}

/* Popup container */
.popup-container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  width: 100%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* @media (min-width: 768px) {
  .popup-container {
    flex-direction: row;
  }
} */

/* Close button */
.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  border: none;
  background: transparent;
  cursor: pointer;
}

@media (max-width: 768px) {
  .popup-close {
    top: 15px;
    right: 20px;
    background-color: red;
    width: 40px;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    color: white;
  }
}

/* Left image */
.popup-left {
  flex: 1;
}

.popup-image {
  width: 100%;
  height: 100%;
  max-height: 600px;
  object-fit: contain;
  margin-top: 40px;
  margin-left: 20px;
}


@media (max-width: 768px) {
  .popup-image {
    max-height: 400px;
    margin-left: 0px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* Right form */
.popup-right {
  flex: 1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup-right h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

/* Form styles */
.popup-form input,
.popup-form textarea {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 0.95rem;
}

.popup-form textarea {
  resize: none;
  height: 100px;
}

.popup-form .popup-row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 768px) {
  .popup-form .popup-row {
    flex-direction: row;
  }
}

.popup-form button {
  width: 100%;
  padding: 0.75rem;
  background-color: rgb(150,65,41);
  color: white;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.popup-form button:hover {
  background-color: #0056b3;
}
