.image-grid-section {
  padding: 20px 20px;
  background: linear-gradient(183deg, rgb(240 190 176) 0%, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 1) 100%);
}

.image-grid {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

/* Card */
.image-card {
  position: relative;
  overflow: hidden;
  border-radius: 14px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.12);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: #f8f8f8;
}

.image-card img {
  width: 100%;
  height: 383px;
  object-fit: contain;
  display: block;
  transition: transform 0.4s ease;
}

/* Hover Effects */
.image-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.18);
}

.image-card:hover img {
  transform: scale(1.08);
}

/* Tablet */
@media (max-width: 991px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .image-card img {
    height: 450px;
  }
}

@media (max-width: 575px) {
  .image-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .image-card img {
    height: 180px;
    object-fit: contain;
  }
}

.category-title {
    justify-content: center;
    display: flex;
    margin-bottom: 10px;
    margin-top: 40px;
}

.about-underline {
  width: 90px;
  height: 4px;
  background: rgb(255, 157, 0);
  margin: 15px auto 0;
  margin-bottom: 20px;
}